<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Some Website</title>
</head>
<body>
	<h1>this is About page 	</h1>
	thanx bhai
	{{ pageTitle }}
	<aside>this is aside</aside>
	
	{{> footer}}
</body>
</html>






